body {
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yellowColor {
    color: yellow;
}

h1 {
    color: white;
    line-height: 0.2;
    font-size: 70px;
    font-family: Calibri;
    font-weight: 400;
}